$background: #202024;
$height: 65px;
$purple: #462B45;

.banner{
    box-sizing: border-box !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height;
    padding: 0;
    margin: 0;
    background: darken($background, 8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: white;
    overflow: hidden;
    .banner-button{
        color: white;
        background: $purple;
        padding: .5rem 2rem;
        transition: .25s;
        margin: .25rem .5rem;
        &:hover{
            background: lighten($purple, 3);
        }
    }
}

.banner-node-enter {
    height: 0px;
  }
  .banner-node-enter-active {
    height: $height;
    transition: 200ms;
  }
  .banner-node-exit {
    height: $height;
  }
  .banner-node-exit-active {
    height: 0px;
    transition: 200ms;
  }