.privacy-policy, .policy{
    width: 50vw;
    .biggest{
        font-weight: bold;
        font-size: 56px;
    }
    p{
        line-height: 28px;
    }
    a{
        text-decoration: underline;
    }
}