.settings-container{
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
}

.setting-options{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.setting-link{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: .5rem;
}

.setting-link.active{
    background: var(--distwitchchat-blue);
}

.settings{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    padding: .5rem;
    padding-top: 0;
}

.settings h1{
    margin: 0;
}

.settings h3{
    font-weight: normal;
}

.settings hr{
    width: 100%;
    border-color: grey;
}

.settings-body{
    width: 100%;
}

.discord-header{
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}

.discord-header span{
    display: flex;
    align-items: center;
}

.discord-profile{
    width: 30px;
}

.discord-name{
    margin-left: .5rem;
}

.checkbox-setting{
    padding-left: 1rem;
    font-size: 1.17rem;
    width: 904px;
}

.checkbox-setting *{
    font-family: inherit !important;
    font-size: inherit !important
}

.checkbox-setting span.MuiFormControlLabel-label{
    margin-left: 1rem;
    /* height:  */
}

.checkbox-setting label{
    height: 70px !important;
    width: 100%;
    /* border: solid; */
}

.setting svg{
    transition: .25s;
}

.setting svg.open{
    transform: rotate(180deg);
}

.settings:first-child{
    border-right: solid;
}

.setting{
    border-bottom: solid;
    width: 95%;
    display: grid;
    grid-template-columns: auto .9fr;
    grid-template-rows: auto auto;
    transition: .25s ease-in-out
}

.color-header{
    /* border: solid; */
    height: 40px;
    padding-left: .75rem;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    height: 70px;
}

.color-preview{
    width: 50%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: .5rem;
}

.color-setting{
    padding-bottom: 1rem;
    height: 50px;
    overflow: hidden;
}

.color-setting.open{
    height: 303px;
}

.setting:last-child{
    margin-bottom: 1rem; 
}