.leaderboard {
	width: 70%;
	ul {
        padding: 0;
        margin: 0;
	}
}

.leaderboard-header {
	display: flex;
    align-items: center;
    margin-bottom: 5rem;
	img {
		border-radius: 50%;
		margin-right: 2rem;
		width: 100px;
	}
}

.leaderboard-body {
    background: #3e4246;
    width: 80%;
    padding: 1rem 1.25rem;
}

.leaderboard-item {
	display: flex;
	align-items: center;
    padding: 24px 0px;
    border-bottom: .25px solid #474b50;
    justify-content: space-between;
    height: 70px;
    .user-info{
        display: flex;
        align-items: center;
        *{
            margin-right: 1.5rem;
        }
    }
    .level-info{
        display: flex;
        align-items: center;
        .data{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-family: "Poppins" !important;
                font-size: 12px;
                color: #85878a;
                text-transform: uppercase;
            }
        }
        .level-data{
            position: relative;
            .level{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
	img {
		width: 50px;
		border-radius: 50%;
	}
}

.progress-ring{
    transform: rotate(-90deg);
}
.progress-ring__circle {
    // stroke-dasharray: 301 301;
    // stroke-dashoffset: 300;
  }

.place-card {
	background: #50555a;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	.leaderboard-item:first-child & {
		background: #da9e3b;
	}
	.leaderboard-item:nth-child(2) & {
		background: #989898;
	}
	.leaderboard-item:nth-child(3) & {
		background: #ae7441;
	}
}
