.accounts {
	width: 100%;
	display: flex;
}

.account {
	width: 100%;
	margin: 3rem 0;
	overflow: hidden;
	border-radius: 0.5rem;
	&:first-child {
		margin-top: 0;
	}
	.account-header {
		display: flex;
		align-items: center;
        padding: .5rem 1rem;
        .name{
			margin-left: .5rem;
			p{
				margin: 0;
			}
            p:nth-child(2){
				color: #aaa;
				font-size: .75rem;
            }
        }
		img {
			&:first-child{
				margin-right: 1rem;
				filter: grayscale(1) brightness(1000%);
			}
			width: 32px;
		}
		height: 50px;
		&.twitch {
			background: #503086;
		}
		&.discord {
			background: #6665d2;
		}
	}

	.account-body {
		min-height: 100px;
		&.twitch {
			background: #593695;
		}
		&.discord {
			background: #7289da;
		}
	}
}
