

.header {
	justify-content: space-between;

    .logo {
        img {
            max-width: 100%;
            width: 148px;
            margin: 15px 30px;
            @media screen and (max-width: 500px) {
                margin: 15px;
            }
        }
    }

	.header--left {
		width: 950px;
	}

	.header--right {
		width: fit-content;
		padding-right: 1rem;
	}

	.nav-bar {
		display: flex;
		justify-content: space-between;
		margin-left: 1rem;
		width: 70%;

		a {
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 37px;

			text-align: center;

			color: #b8b7b4;
			&:hover {
				color: #eee;
			}
		}
	}

	.login-button {
		padding: 0.5rem 1.5rem;
		background: #462b45;
		border-radius: 10px;
		border: none;

		box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);

		font-size: 1rem;
		text-align: center;
		color: white;
		outline: none;
		transition: 0.05s ease-in-out;
		margin-left: 2rem;
		&:hover,
		&:focus {
			filter: brightness(110%);
			box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
		}
		&:active {
			transform: scale(0.95);
		}
	}

	.hamburger-holder {
		display: none;
		width: 200px;
		margin-left: 1rem;
	}

	.profile-picture {
		width: 50px;
		border-radius: 50%;
	}
	.user {
		display: flex;
		outline: none;
		border: none;
		background: none;
		align-items: center;
		color: white;
		font-size: 1rem;
		cursor: pointer;
	}

	.user--name {
		margin-right: 0.5rem;
		text-transform: capitalize;
	}

	.full-user {
		justify-content: center;
		align-items: center;
	}

	.user-dropdown {
		position: absolute;
		right: 8px;
		transform: translateY(0.5rem);
		transition: 200ms ease-out;
		background: #0b0c0e;
		border-radius: 0.5rem;
		padding: 0.25rem;
		margin-right: 0.5rem;
		width: 195px;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		.logout {
			color: rgb(167, 42, 57);
		}
	}

	.user-item {
		padding: 0.5rem 0.75rem;
		margin: 0.5rem 0;
		border-radius: 0.25rem;
		transition: 0.25s;
		cursor: pointer;
		display: block;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background: rgba(51, 51, 51, 0.5);
		}
	}

	.user-node-enter {
		opacity: 0;
		transform: translateY(-2rem);
	}

	.user-node-enter-active {
		opacity: 1;
		transform: translateY(0.5rem);
	}

	.user-node-exit {
		opacity: 1;
		transform: translateY(0.5rem);
	}

	.user-node-exit-active {
		opacity: 0;
		transform: translateY(-2rem);
	}
}

.header,
.header span {
	display: flex;
	align-items: center;
}

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 215px;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	background: radial-gradient(var(--disstreamchat-blue), #214d69);
	border-radius: 0.5rem;
	border: none;
	outline: none;
	font-family: Montserrat;
	animation: scale-in 0.25s forwards;
	.logo-icon {
		margin-right: 0.5rem;
	}

	.yt-icon {
		transform: scale(1.125);
	}

	.modal-buttons {
		/* margin-top: 1rem; */
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
        
        & > button:first-child{
            all: unset;
            box-sizing: content-box !important;
            width: 100%;
        }
        .legal{
            a{
                text-decoration: underline !important;
            }
            display: flex;
            margin-top: 1rem;
            input[type="checkbox"]{
                margin-right: .5rem;
            }
        }
	}

	.modal-heading {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin: 6px 0;
	}

	.modal-subheading {
		margin: 6px 0;
		font-size: 14px;
	}

	.modal-button {
		display: flex;
		align-items: center;
        justify-content: center;
        border: none;
        outline: none !important;
        color: white;
		padding: 8px 28px;
		margin: 0.5rem 0;
		border-radius: 100rem;
		transition: 0.125s;
		height: 24px;
        width: 70%;
        flex: 1;
        box-sizing: content-box !important;
		cursor: pointer;
		&:hover {
			filter: brightness(0.85);
		}
	}

	.modal-button.youtube {
		background: var(--youtube-background);
	}

	.modal-button.twitch {
		background: var(--twitch-background);
	}

	.exit-button {
		position: absolute;
		right: 10px;
		top: 10px;
		background: none;
		outline: none;
		border: none;
		color: white;
		transition: 0.25s;
		&:hover,
		&:active {
			transform: scale(0.9);
		}

		&:active {
			transform: scale(0.8);
		}
	}
}

.Modal-Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #214d6966;
	animation: fade-background-in 0.35s forwards;
}

@keyframes fade-background-in {
	from {
		background: rgba(0, 0, 0, 0);
	}
	to {
		background: #214d6966;
	}
}

@keyframes scale-in {
	from {
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

@media screen and (max-width: 1100px) {
	.nav-bar a {
		font-size: 25px;
	}

	header .user--name {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	/* this is where the nav bar should shrunk into a dropdown */
	.members {
		grid-template-columns: 1fr;
	}

	.application-list {
		padding: 0;
	}

	.header .hamburger-holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header--left {
		flex-direction: column;
		align-items: center;
	}

	.nav-bar {
		position: absolute;
		/* justify-content: center; */
		top: 200px;

		height: 0px;
		overflow: hidden;
		flex-direction: column;
		transition: 0.25s;
	}

	.nav-bar a {
		font-size: 33px;
	}

	.nav-bar.open {
		height: 200px;
	}

	.main.open,
	.footer.open {
		transform: translateY(200px);
		/* min-height: calc(100vh - var(--header-height) + 200px); */
	}

	.logo,
	.nav-bar {
		/* position: relative; */
		transform: translateX(-10%);
	}

	.header--left {
		justify-content: center;
	}

	.buttons {
		height: 150px;
		flex-direction: column;
		align-items: center;
	}

	.body-header {
		font-size: 30px;
	}

	.body-subheader {
		font-size: 22px;
	}

	.footer-top {
		flex-direction: column;
		align-items: flex-start !important;
		padding-bottom: 0px !important;
		padding-top: 1rem !important;
	}

	.footer-top .right {
		margin-top: 1.5rem;
		margin-left: 0 !important;
		width: 100% !important;
		justify-content: flex-start !important;
	}

	.footer-top .right .column {
		margin-right: 3rem;
	}

	.last-column {
		margin: 0 !important;
	}

	.members {
		grid-template-columns: 1fr;
	}

	.team-header {
		font-size: 30px !important;
	}
}

@media screen and (max-width: 500px) {
	.logo {
		width: 50px;
		/* transform: translateX(-65%); */
	}

	.home {
		height: calc(100vh - 84px);
	}

	.nav-bar {
		position: absolute;
		/* justify-content: center; */
		top: 100px;
		/* left: 50%; */
		transform: translateX(0px);
		height: 0px;
		overflow: hidden;
		flex-direction: column;
		transition: 0.25s;
	}
}

@media screen and (max-width: 420px) {
	.column {
		margin-right: 1.5rem !important;
	}

	.made-by {
		text-align: right;
	}
}

@media screen and (max-width: 320px) {
	.body-header {
		font-size: 20px;
	}

	.body-subheader {
		font-size: 1rem;
	}

    footer .right {
		display: none !important;
	}
}

@media screen and (max-height: 414px) {
	.home {
		padding-bottom: 1rem;
	}
}
