.bot-page {
	min-height: calc(100vh - var(--header-height));
}

.hero {
	box-sizing: border-box;
	width: 100%;
	min-height: 60vh;
	display: flex;
	padding: 1rem 8rem;
	justify-content: space-around;
	margin-top: 10rem;
	& > * {
		max-width: 45%;
	}
	p {
		line-height: 170%;
		font-weight: 500;
		color: #aaa;
		font-size: 1.125rem;
	}
}

.hero-buttons {
	justify-content: initial !important;
	a {
		margin-left: 0;
	}
}

.hover {
	animation: hover infinite ease-in-out 1s alternate;
}

.hero .image {
	position: relative;
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: scale(1.5) translateY(9%);
		content: "";

		filter: grayscale(1);
		background-image: url("https://i.ibb.co/YhsScDB/blob.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

@keyframes hover {
	from {
		transform: translateY(-25px);
	}
	to {
		transform: translateY(25px);
	}
}

.invite {
	padding: 0.5rem 1rem;
	background: var(--disstreamchat-blue);
	border-radius: 0.5rem;
}
