.discord-prefix {
	min-height: 100px;
	.prefix-body {
		width: 98%;
		padding: 0.5rem;
		background: #2c2c2c;
		border-radius: 0.5rem;
		border: 0.5px solid #888;
	}
	.prefix-input {
		padding: 0.5rem;
		width: 35%;
		border-radius: 0.5rem;
		border: none;
		outline: none;
		background: #242424;
		color: white;
		font-size: 1.5rem;
	}
}

.plugins {
	padding-top: 1rem;
	margin-bottom: 5rem;
	h2 {
		text-transform: uppercase;
		font-size: 1.25rem;
	}
	.plugin-header {
		padding-bottom: 1rem;
	}
	.plugin-list {
		min-height: 120px;
		display: flex;
		// justify-content: space-around;
		flex-wrap: wrap;
	}
	.plugin-item-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		span:first-child {
			display: flex;
		}
		span button {
			padding: 0.75rem 1.25rem;
			border: none;
			outline: none !important;
			background: var(--disstreamchat-blue);
			color: white;
			border-radius: 0.5rem;
			transition: 0.125s;
			text-transform: uppercase;
			&:hover,
			:focus {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.95);
			}
		}
		img {
			max-width: 50px;
			margin-right: 1rem;
		}
	}
	.plugin-item-subheader {
		h2 {
			margin-bottom: 0;
		}
		h3,
		h4 {
			margin: 0.5rem 0;
			font-weight: 400;
			color: #aaa;
		}
	}
	h5 {
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.plugin-section {
		display: flex;
		background: lighten($color: #121212, $amount: 10);
		padding: 0.5rem;
        border-radius: 0.25rem;
        flex-wrap: wrap;
        // height: 210px;
        justify-items: stretch;
        border: 0.5px solid lighten($color: #121212, $amount: 20);
        & > div{
            width: 50%;
        }
        #root & > label{
            width: 25%;
            margin-left: .5rem;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
	}

	.plugin-section-title {
		text-transform: uppercase;
		padding: 0;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	.level-settings {
		display: flex;
		background: lighten($color: #121212, $amount: 10);
		padding: 0.5rem;
		border-radius: 0.5rem;
		height: 210px;
		border: 0.5px solid lighten($color: #121212, $amount: 20);
		& > * {
			&:first-child {
				margin-right: 0.5rem;
			}
			&:last-child {
				margin-left: 0.5rem;
			}
			flex: 1;
			display: flex;
			flex-direction: column;
			& > * {
				flex: 1;
			}
		}
		.message {
			h5 {
				flex: 0;
			}
			textarea {
				flex: 1;
				resize: none;
				background: lighten($color: #121212, $amount: 7);
				border: 1px solid black;
				color: white;
				border-radius: 0.5rem;
				padding: 0.5rem;
				// border: none;
				&:focus {
					outline: none !important;
					box-shadow: 0 0 0 1px #137cbd, 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
						inset 0 1px 1px rgba(16, 22, 26, 0.4);
				}
			}
		}
	}
}

.settings-container {
	width: 100%;
	min-height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
}

.setting-options {
	display: flex;
	flex-direction: column;
	width: 25%;
	max-width: 300px;
	/* min-width: 200px; */
	position: sticky;
	top: 1rem;
	height: fit-content;
}

.channel-category {
	font-size: 0.65rem;
	margin-left: 0.5rem;
	opacity: 0.75;
	position: relative;
	top: -0.1rem;
}

.setting-link {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	border-radius: 0.5rem;
	text-transform: capitalize;
}

.setting-link.active {
	background: var(--disstreamchat-blue);
}

.settings-sub-body {
	width: 100%;
	display: flex;
}

.settings-categories {
	margin-right: 1rem;
	background: #101010;
	height: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	min-width: 15%;
	margin-top: 1rem;
	box-shadow: 3px 3px 5px 0 #111;
	position: sticky;
	top: 1rem;
}

#root .settings--searchbox {
	box-sizing: border-box;
	width: 100%;
	align-self: center;
	padding: 0.75rem;
	margin: 0.5rem 0;
	border-radius: 0.35rem;
	border: none;
	outline: none;
	background: #212121;
	box-shadow: 3px 3px 5px 0 #111;
	color: white;
	transition: 0.25s;
	font-size: 1rem;
}

#root .settings--searchbox:hover,
#root .settings--searchbox:active,
#root .settings--searchbox:focus {
	box-shadow: 5px 5px 5px 0 #111;
}

.settings--searchbox::placeholder {
	font-weight: bold;
}

.search-container {
	display: inline-block;
	width: 80%;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: flex-end;
}

#root .clear-button {
	transition: 0.25s;
	opacity: 0;
	position: relative;
	left: -2rem;
}

#root .search-container:hover .clear-button,
#root .settings--searchbox:active ~ .clear-button,
#root .settings--searchbox:focus ~ .clear-button,
.clear-button:hover {
	opacity: 1;
}

.category {
	background: #2a2c30;
	margin-top: 1rem;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0.35rem 0.25rem;
}

.active-category {
	background: var(--disstreamchat-purple);
}

.category:first-child {
	margin-top: 0;
}

.settings-sub-body * {
	text-transform: capitalize;
}

.settings {
	width: 58%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 3rem;
	padding: 0.5rem;
	padding-top: 0;
}

.settings h1 {
	margin: 0;
}

.settings h3 {
	font-weight: normal;
}

.settings hr {
	width: 100%;
	border-color: grey;
}

.settings-body {
	width: 100%;
}

.discord-header {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 660px) {
		flex-direction: column-reverse;
		align-items: center;
		& > span {
			margin-bottom: 0.5rem;
			align-self: start;
		}
		.css-1sx567g-container {
			width: 100% !important;
		}
		// align-items: ;
	}
	padding: 0.5rem;
}

.discord-header span {
	display: flex;
	align-items: center;
}

.discord-profile {
	width: 30px;
}

.discord-name {
	margin-left: 0.5rem;
}

.css-5sz5u5-singleValue span {
	white-space: break-spaces;
}

.checkbox-setting {
	padding-left: 1rem;
	font-size: 1.17rem;
	width: 100%;
}

.guild-icon {
	border-radius: 50%;
}

.discord-settings-button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	margin-left: 1rem;
}

.discord-settings-button:active {
	transform: scale(0.95);
}

.discord-settings-button.good-button {
	background: var(--disstreamchat-blue);
}

.discord-settings-button:hover,
.discord-settings-button:focus {
	text-decoration: underline;
}

.warning-button {
	background: #b92838;
}

#root .MuiTooltip-tooltip {
	font-size: 0.75rem;
}

.invite-link {
	background: var(--disstreamchat-blue);
}

.error-color {
	color: #b92838;
	font-weight: 600;
}

.no-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	text-transform: uppercase;
}

.discord-body {
	margin-top: 1rem;
	padding: 0 0.5rem;
}

#root .checkbox-setting * {
	font-family: inherit;
	font-size: inherit;
}

.checkbox-setting span.MuiFormControlLabel-label {
	margin-left: 1rem;
}

#root .checkbox-setting label {
	height: 70px;
	width: 100%;
}

.setting {
	background: #212121;
	border-radius: 0.5rem;
	margin: 1rem 0;
	box-shadow: 3px 3px 5px 0 #111;
	width: 100%;
	display: grid;
	grid-template-columns: auto 0.9fr;
	grid-template-rows: auto auto;
	transition: 0.25s ease-in-out;

	svg {
		transition: 0.25s;
	}
	svg.open {
		transform: rotate(0deg);
	}
	svg.closed {
		transform: rotate(-90deg);
	}
}

.settings:first-child {
	border-right: solid;
}

.color-header {
	height: 40px;
	padding-left: 0.75rem;
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	cursor: context-menu;
	span:first-child {
		display: flex;
		align-items: center;
	}
	span:last-child {
		width: 50%;
		margin-right: 10%;
	}
}

.color-preview {
	height: 40px;
	border-radius: 0.5rem;
	margin-left: 1rem;
}

.color-setting {
	padding-bottom: 1rem;
	height: 50px;
	overflow: hidden;
}

.number-setting {
	padding-left: 1.5rem;
	height: 70px;
	display: flex;
	grid-column: 1 / span 2;
}

.list-header {
	align-items: center;
	display: flex;
	grid-column: 1 / span 2;
	height: 70px;
	padding-left: 0.75rem;
}

.list-setting {
	display: block;
	overflow: hidden;
	transition: 0.25s;
}
.list-body.selector {
	max-height: 380px;
	overflow: auto;
	width: 80%;
	margin: auto;
	&::-webkit-scrollbar {
		width: 10px;
		height: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f100;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 15px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.item {
		min-height: 50px;
		width: 95%;
		margin: 0.5rem 0;
	}
}

.list-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	.item {
		box-sizing: border-box !important;
		height: 50px;
		border-radius: 0.5rem;
		border: 1px solid white;
		width: 75%;
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
		align-items: center;
		overflow: hidden;
		&,
		* {
			text-transform: none;
		}
		& + * {
			margin: 0.5rem 0;
		}
	}
	button {
		border: none;
		outline: none !important;
		background: none;
		color: white;
		transition: 0.05s;
		svg {
			transform: scale(1.5);
		}
		&:active {
			transform: scale(0.9);
		}
	}
	.adding-item {
		input {
			box-sizing: border-box !important;
			height: 100%;
			flex: 1;
			background: none;
			border: none !important;
			outline: none;
			color: white;
			font-weight: 600;
			font-size: 1rem;
		}
	}
	.buttons {
		width: fit-content;
		*:last-child {
			margin-right: 0;
		}
		* {
			margin: 0 0.125rem;
		}
	}

	.add-item {
		margin-bottom: 0.5rem;
	}
}

.color-setting.open {
	height: 303px;
}

.list-setting.open {
	// max-height: 3000px;
	height: fit-content;
}

.setting:last-child {
	margin-bottom: 1rem;
}

#root .reset-button {
	width: 50%;
	height: 50%;
	align-self: center;
	justify-self: center;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
}

#root .MuiFormControlLabel-root {
	width: 100%;
}

#root .makeStyles-root-109 {
	max-width: 250px;
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.settings-sub-body {
		flex-direction: column;
	}

	.settings-categories {
		position: initial;
		margin-right: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		.category {
			width: fit-content;
			min-width: 100px;
			flex-grow: 2;
			margin: 0.5rem;
			padding: 0.5rem 1rem;
		}
	}

	.color-header h3,
	#root .setting .checkbox-setting span.MuiFormControlLabel-label {
		font-size: 1rem;
	}
}

@media screen and (max-width: 660px) {
	.main {
		padding-top: 100px;
	}

	.setting-link {
		text-align: center;
	}

	.settings-container .setting-options {
		position: absolute;
		flex-direction: row;
		justify-content: space-around;
		top: 190px;
		left: 50%;
		width: 90vw;
		max-width: 90vw;
		transform: translateX(-50%);
	}

	.settings {
		width: 80%;
		margin-left: 0.5rem;
	}
}

@media screen and (max-width: 500px) {
	.settings-container .setting-options {
		top: 100px;
	}
}

@media screen and (max-width: 340px) {
	.color-preview {
		margin-left: -1rem;
		margin-right: 2rem;
	}
}
