.footer {
	background: #2a2c30;
	min-height: 10px;
	color: white;
	font-family: Montserrat;

	.footer-top {
		display: flex;
		padding: 2rem;
		padding-bottom: 1rem;
		align-items: center;
        justify-content: space-between;
        .right {
			display: flex;
			width: 30%;
			min-width: fit-content;
			justify-content: space-around;
			margin-left: 3rem;
        }
        .column {
            display: flex;
            flex-direction: column;
            margin-right: 3rem;
            /* min-width: fit-content; */
    
            .column-header {
                font-weight: bold;
                margin-bottom: 20px;
                width: fit-content;
            }
    
            a {
                color: white;
                margin-bottom: 10px;
                text-decoration: underline;
            }
        }
    
        .last-column {
            margin-right: 0;
        }
        svg {
			margin: 0 10px;
		}
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		width: calc(100% - 1rem);
		font-size: 0.75rem;
		padding: 0.5rem;
	}

	.left {
		h4 {
			font-weight: normal;
		}
	}

	h4,
	h3 {
		margin: 0.5rem 0;
	}
}

#root {
	footer.footer {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media screen and (max-width: 420px) {
	.column {
		margin-right: .75rem !important;
    }
}