.plugin-card {
	$background-color: #212121;
	background: $background-color;
	transition: 0.25s;
    margin: 0.5rem;
    cursor: pointer;
    &.disabled{
        background: lighten($background-color, 2);
        opacity: .45;
    }
	&.coming-soon {
        position: relative;
		&:after {
			content: "Coming Soon";
			background: var(--disstreamchat-blue);
            width: fit-content;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(10%, -25%);
            padding: .25rem;
            border-radius: 5rem;
		}
	}
	&:not(.coming-soon):hover {
		background: lighten($color: $background-color, $amount: 3);
	}
	display: flex;
    width: 300px;
	height: 100px;
	padding: 20px;
	align-items: center;
	box-sizing: content-box !important;
	box-shadow: 3px 3px 5px 0 #111;
	.image {
		margin-right: 1rem;
		margin-left: -0.25rem;
		min-width: 50px;
		max-width: 75px;
		img {
			max-width: 100%;
		}
	}

	h2,
	h3,
	h4 {
		margin: 0;
		padding: 0;
	}
	h4 {
		font-weight: 400;
		color: #aaa;
		margin-top: 0.25rem;
		line-height: 1.5rem;
    }
    @media screen and (max-width: 440px) {
        width: 200px;
        h4{
            font-size: .75rem;
            line-height: 1rem;;
        }
    }
}
