:root{
    --distwitchchat-blue: #2D688D;
    --distwitchchat-purple: #462B45;
    --background-dark-gray: #17181B;
    --background-light-gray: #24252A;
    --header-height: 182px;
}

a {
    text-decoration: none !important;
    color: white;
}

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(119.36deg, #17181B 21.35%, #24252A 76.56%);
    font-family: Montserrat;
    color: white;
}

::-webkit-scrollbar {
   width: 1rem;
   border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #24252A;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-dark-gray); 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111; 
}

.main{
    min-height: calc(100vh - var(--header-height));
    transition: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .25s;
}