$bg-color: #0b0c0e;

.application-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
    padding: 0;
}

.application-item {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
	width: calc(80% - 1.5rem);
	height: calc(300px - 1.5rem);
	margin: 1rem;
	background: $bg-color;
	border-radius: 1rem;
	box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
	transition: 0.25s ease-in-out;
	padding: 1.5rem;
}

.application-item:hover {
	background: lighten($bg-color, .3);
	box-shadow: 5px 5px 20px -0px rgba(0, 0, 0, 0.75);
}

.application--title, .application--subtitle, .application-description{
    align-self: start;
    margin: 0;
    padding: 0;
}

.application--title {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.application--subtitle {
	opacity: 0.75;
}

.application--image {
    width: 200px;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    max-height: 100%;
}

.application--link{
    background: var(--disstreamchat-purple) !important;
    * {
        color: white;
    }
}

.download-page{
    $height: calc(100vh - var(--header-height));
    box-sizing: border-box !important;
    width: 100%;
    min-height: $height;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6rem;
    & > .left{
        width: 80%;
    }
    .right{
        display: flex;
        justify-content: space-around;
        align-items: space-around;
        width: 100%;
        flex-wrap: wrap;
    }
    .download-item{
        box-sizing: border-box !important;
        min-height: calc(#{$height} * .25);
        align-items: center;
        flex: .25;
        padding: 1rem;
        margin: 1rem;
        padding-top: 0;
        background: $bg-color;
        box-shadow: 10px 10px 14px -4px #000000;
        border-radius: .5rem;
        min-width: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        
        *{
            transition: .25s ease-in-out;
        }
        .open .chevron{
            transform: rotate(90deg)
        }
        .versions{
            height: fit-content;
            max-height: 0;
            overflow: hidden;
            &.open{
                max-height: 1000px;
            }
        }
        .opener{
            display: flex;
            align-items: center;
        }
        .download-button{
            color: white;
            background: var(--disstreamchat-blue);
            padding: 1rem 2rem;
            font-size: 1rem;
        }
        .download-links{
            display: flex;
            align-items: flex-end;
        }
        img{
            margin-bottom: 1rem;
        }
    }
}