.application-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
}

.application-item{
    width: 80%;
    height: 300px;
    margin: 1rem;
    background: #0b0c0e;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    transition: .25s ease-in-out;
}

.application-item:hover{
    transform: translate(-.25rem, -.25rem);
    box-shadow: 5px 5px 20px -0px rgba(0,0,0,0.75);
}

.application--title{
    margin: 1rem;
}

